
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta http-equiv=X-UA-Compatible content="IE=edge">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="../../res/layui/css/layui.css">
  <link rel="stylesheet" href="../../res/css/global.css">
</head>
<body>

<div id="headerpage"></div>


<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a id="goHome">
        <i class="layui-icon">&#xe609;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="index.html">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="set.html">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="message.html">
        <i class="layui-icon">&#xe611;</i>
        我的消息
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>
  
  
  <div class="fly-panel fly-panel-user" pad20>
    <!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title" id="LAY_mine">
        <li data-type="mine-jie" lay-id="index" class="layui-this">我发布的任务</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="accept">我接收的任务</li>
        <li data-type="collection" data-url="/collection/find/" lay-id="collection">我关注的任务</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;" id="index">
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row">
            <li v-for="mission in post_missions">
              <a class="jie-title" @click="goDetail(mission)" target="_blank">{{mission.title}}</a>
              <i>{{mission.postTime}}</i>
              <a v-if="mission.state == 0" class="mine-edit" style="background: #4EBBF9">等待接收</a>
              <a v-if="mission.state > 0" class="mine-edit" @click="achieveMission(mission)">确认完成</a>
              <a v-if="mission.state > 0" class="mine-edit" @click="deadMission(mission)" style="background: #E6162D">任务失败</a>
              <!--              <em>661阅/10答</em>-->
            </li>
          </ul>
          <div id="LAY_page"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="mine-view jie-row">
            <li v-for="mission in accept_missions">
              <a class="jie-title" @click="goDetail(mission)" target="_blank">{{mission.title}}</a>
              <a class="mine-edit" @click="cancelAccept(mission)">取消</a>
          </ul>
          <div id="LAY_page2"></div>
        </div>
        <div class="layui-tab-item">
          <ul class="mine-view jie-row">
            <li v-for="mission in collect_missions">
              <a class="jie-title" @click="goDetail(mission)" target="_blank">{{mission.title}}</a>
              <a class="mine-edit" @click="cancelCollect(mission)">取消</a>
          </ul>
          <div id="LAY_page1"></div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="fly-footer">
  <p>这里是PSM社区</p>
  <p>
    欢迎您的加入
  </p>
</div>

<script src="../../res/layui/layui.js"></script>
<script src="../../json/jquery.min.js"></script>
<script src="../../json/vue.min.js"></script>
<script src="../../json/axios.min.js"></script>
<script src="../../json/user/index.js"></script>
<script src="../../json/user/index_vue.js"></script>

<script>

</script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '../../res/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '../../res/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>